<div class ="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= form_for @item do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :last_purchase, "Date of Last Purchase" %>
      <%= f.date_field :last_purchase, class: 'form-control' %>
      <%= f.label :frequency, "I should buy this every _ months" %>
      <%= f.number_field :frequency, class: 'form-control' %>
      <%= f.fields_for :locations do |builder| %>
        <%= builder.label :location_id, "I buy this at _?" %>
        <%= builder.collection_select :location_id, Location.all, :id, :name, prompt: 'Select existing location', class: 'form-control' %>
      <% end %>
      <hr/>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
