<div id="order-items-list">
  <div class="row">
    <div class="col-md-12">
      <%= button_to "Add New", new_order_item_path, :class => "btn btn-lg", :method => :get %>
      <h3>Due</h3>
      <ul>
        <% @due_order_items.each do |item| %>
          <%= content_tag_for(:li, item) do %>
          <b><%= item.name %></b>
        <button class="purchase btn btn-xs btn-success">Purchase</button> -
        <button class="postpone btn btn-xs btn-info">Postpone</button> -
        <%= link_to "Edit", edit_order_item_path(item), :class => "btn btn-default btn-xs"%></td>
        <%= render partial: 'order_item_details', :locals => {:item => item} %>
      <% end %>
      <% end %>
      </ul>

      <h3>Upcoming</h3>
      <ul>
        <% @due_soon_order_items.each do |item| %>
          <%= content_tag_for(:li, item) do %>
          <em><%= item.name %></em>
        <button class="set-due btn btn-xs btn-warning">Set Due</button>
        <button class="postpone btn btn-xs btn-info">Postpone</button>
        <button class="purchase btn btn-xs btn-success">Purchase</button>
        <%= link_to "Edit", edit_order_item_path(item), :class => "btn btn-default btn-xs"%></td>
        <%= render partial: 'order_item_details', :locals => {:item => item} %>
      <% end %>
      <% end %>
      </ul>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                All
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <% @order_items.each do |item| %>
                  <%= content_tag_for(:li, item) do %>
                  <em><%= item.name %></em>
                <button class="set-due btn btn-xs btn-warning">Set Due</button>
                <button class="postpone btn btn-xs btn-info">Postpone</button>
                <button class="purchase btn btn-xs btn-success">Purchase</button>
                <%= link_to "Edit", edit_order_item_path(item), :class => "btn btn-default btn-xs"%></td>
              <%= render partial: 'order_item_details', :locals => {:item => item} %>
              <% end %>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
